@charset "UTF-8";

/* 共通部分
---------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
img {
    max-width: 100%;
}
.wrapper {
    margin: 0 3%;
    padding: 0 3%;
}

/* HEADER
---------------------------- */
header {
    background-color: #FFFFDD;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 50px;
    margin-right: 3px;
    vertical-align: -15%;
}
.logo-text {
    text-decoration: none;
    font-size: 2.4rem;
    color: #432;
}
input[type="search"],
input[type="submit"] {
    font-size: 0.8rem;
    border: 1px #432 solid;
    font-weight: normal;
    border-radius: 5px;
    padding: 0 5px;
}

/* 背景画像
---------------------------- */
#home-image {
    background-image: url(../images/umi.jpg);
    background-size: cover;
    min-height: 60vh;
}
#kurashi-image {
    background-image: url(../images/kurashi.jpg);
    background-size: cover;
    min-height: 40vh;
}
#kyouiku-image {
    background-image: url(../images/kyouiku.jpg);
    background-size: cover;
    min-height: 40vh;
}
#fukushi-image {
    background-image: url(../images/fukushi.jpg);
    background-size: cover;
    min-height: 40vh;
}
#about-image {
    background-image: url(../images/about.jpg);
    background-size: cover;
    min-height: 40vh;
}
#access-image {
    background-image: url(../images/access.jpg);
    background-size: cover;
    min-height: 40vh;
}
#kojin-image {
    background-image: url(../images/kojin.jpg);
    background-size: cover;
    min-height: 40vh;
}
/* 背景の文字調整 */
#home-image p {
    font-size: 2.5rem;
    font-family: 'Noto Serif JP', serif;
    padding: 2%;
}
#kurashi-image p,
#kyouiku-image p,
#fukushi-image p,
#about-image p,
#access-image p,
#kojin-image p {
    font-size: 3rem;
    color: #FFFFDD;
    -webkit-text-stroke: 1.5px #432;
    text-align: center;
    padding: 8.4%;
}

/* NAVIGATION
---------------------------- */
nav {
    background-color: #FFFFDD;
}

/* tile */
.tile {
    display: grid;
    place-items: center;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 3% 0;
}
.tile-contents {
    position: relative;
    width: 250px;
    height: 250px;
}
.tile-contents a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.tile-contents p {
    position: absolute;
    color: #FFFFDD;
    -webkit-text-stroke: 1px #432;
    font-size: 2rem;
    top: 0;
    left: 0;
    padding-left: 3%;
}

/* main */
.main {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-bottom:13%;
}
.main-accsess {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
article {
    width: 74%;
}

aside {
    width: 22%;
}

/* main-contens */
article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin: 12px 0px;
}
section {
    width: 13rem;
    margin-right: 5px;
}
section h2 {
    margin-top: 7px;
}
section li {
    list-style: none;
}
section a {
    text-decoration: none;
}
section a:hover {
    color: rgb(58, 171, 210);
}
/* map */
.map {
    width: 74%;
    margin: 19px 0px 12px 0px;
}
.map h3 {
    margin-top: 5px;
}
iframe {
    width: 100%;
}

/* kojin */
.kojin {
    width: 74%;
    margin: 19px 0px 12px 0px;
}

/* side-menu */
.sub-menu {
    list-style: none;
    margin: 20px 0px 20px 10px;
}
.sub-menu a {
    text-decoration: none;
    color: #432;
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
    margin-bottom: -1px;
    display: block;
    padding: 4px 10px;
}
.sub-menu a:hover {
    color: rgb(58, 171, 210);
}

/* annai */
.annai {
    padding-bottom: 3px;
}
.annai-text {
    display: flex;
    justify-content: center;
}
.annai-text p {
    margin-left: 40px;
}
.annai-text h2 {
    margin-top: 18px;
}

/* FOOTER
---------------------------- */
footer {
    background-color: #dfdfdf;
}
.footer-contents {
    display: flex;
    justify-content: space-between;
}
.footer-contents p:last-child {
    margin-left: auto;
}
.link {
    width: 15px;
    margin-right: 3px;
    vertical-align: -7%;
}
.link-text {
    text-decoration: none;
    color: #432;
}
.link-text:hover {
    color: rgb(58, 171, 210);
}

/* モバイル版
---------------------------- */
@media (max-width: 600px) {
/* HEADER */
    .logo {
    width: 40px;
    vertical-align: -18%;
}
    .logo-text {
    font-size: 1.8rem;
}
    
/* 背景画像 */
    #home-image {
    min-height: 40vh;
}
/* 背景の文字調整 */
    #home-image p {
    font-size: 2rem;
}
    #kurashi-image p,
    #kyouiku-image p,
    #fukushi-image p,
    #about-image p,
    #access-image p,
    #kojin-image p {
    font-size: 2.8rem;
    padding: 13.8%;
}
/* main */
nav .main {
        flex-direction: column;
}
article {
    width: 100%;
}

aside {
    width: 100%;
    }

/* map */
.map {
    width: 100%;
    }
    
/* kojin */
.kojin {
    width: 100%;
    }
}